<body>
    <h1>Cortes</h1>
    <div class="grid-container">
        <div class="grid-item">
            <img src="assets/images/corte1.png" alt="Corte 1">
            <figcaption>Corte degrade</figcaption>
        </div>
        <div class="grid-item">
            <img src="assets/images/corte2.png" alt="Corte 2">
            <figcaption>Corte calvão de cria 👨‍🦲</figcaption>
        </div>
        <div class="grid-item">
            <img src="assets/images/corte3.png" alt="Corte 3">
            <figcaption>Corte degrade brabo</figcaption>
        </div>
        <div class="grid-item">
            <img src="assets/images/corte4.png" alt="Corte 4">
            <figcaption>Corte mestre splinter 🐀</figcaption>
        </div>
        <div class="grid-item">
            <img src="assets/images/corte5.png" alt="Corte 5">
            <figcaption>Corte abaixaqui 🍍</figcaption>
        </div>
        <div class="grid-item">
            <img src="assets/images/corte6.png" alt="Corte 6">
            <figcaption>Corte nike ✓</figcaption>
        </div>
    </div>
</body>