/* You can add global styles to this file, and also import other style files */
header {
    background-color: bisque;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 999;
}

body {
    background-color: rgb(248, 237, 223);
    margin: 0px;
}

footer {
    bottom: 0;
    left: 0;
    bottom: 0;
    background-color: bisque;
    color: black;
    width: 100%;
    height: 15%;
    text-align: center;
    line-height: 100px;
    font-size: 20px;
}

.move_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.move_card_PesquisaID {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#imgLogo {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

#navBar_menu {
    border: #ec9c73 solid 3px;
}

#consultarId {
    color: white;
    border: #ec9c73;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
    background-color: #ec9c73;
}

.container-fluid {
    width: 35%;
    margin: 0 auto;
}

.nav-link {
    text-decoration: underline;
}

.card {
    width: 250px;
    align-items: center;
}

#terceiroItem {
    padding: 10px;
}

#segundoItem {
    padding: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Define 3 colunas iguais */
    grid-gap: 20px;
    /* Espaçamento entre as células da grade */
    padding: 130px;
}

.grid-item {
    text-align: center;
    /* Para cortar imagens que excedam o tamanho da célula */
    transition: transform 0.3s ease;
    /* Transição suave ao passar o mouse */
}

.grid-item:hover {
    transform: scale(1.1);
    /* Efeito de escala ao passar o mouse */
}

.grid-item img {
    width: 50%;
    /* Ajuste a largura da imagem para preencher a célula */
    height: 90%;
    /* Mantenha a proporção original da imagem */
    border: 5px solid bisque;
    border-radius: 5px;
}

.move_Return_Api {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    height: 150px;
    width: 30vw;
    border: 3px solid bisque;

}

#excluir {
    color: white;
    border: #ec9c73;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
    background-color: #ec9c73;
}

#inserir {
    color: white;
    border: #ec9c73;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
    background-color: #ec9c73;
}

.alert {
    padding: 10px;
    border: 1px solid;
    border-radius: 4px;
    font-weight: bold;
}

.alert-success {
    background-color: #dff0d8;
    color: #3c763d;
}

.alert-error {
    background-color: #f2dede;
    color: #a94442;
}

#formInsert {
    margin: 20px;
}

div {
    margin-bottom: 10px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="number"] {
    width: 250px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.nav-link {
    text-decoration: none;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.h1TextCentesAlinhar {
    display: flex;
    justify-content: center;
    align-items: center;  
}